.movies {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 190px;
  height: 390px;
  border-radius: 6px;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.image_wrapper > span > img {
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 5px;
  padding-top: 30px;
  position: relative;
}

.average {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-background);
  position: absolute;
  top: -25px;
}

.card_content > h3 {
  margin: 2px 0;
}