.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo {
  font-size: 28px;
  color: var(--color-primary);
  font-weight: bold;
}